---
import IconStar from '../assets/Start.svg';

---

<div class="header h-[60vh] bg-amber-200 w-full flex flex-col justify-center">
  <div class="m-auto text-center">
    <h1 class="text-7xl font-bold">Welcome to Art Collection</h1>
    <h3 class="text-2xl">Explore a world where every stroke tells a story, and every piece holds a soul — welcome to our curated art collection</h3>
  </div>
  <h6 class="text-lg static mx-auto mb-20 flex animate-bounce animate-infinite animate-delay-100 text-purple-500">
    <IconStar class="inline-block w-6 h-6 ml-2" />
    Explore the world of art 
    <IconStar class="inline-block w-6 h-6 ml-2 " />
  </h6>


</div>
